/*Custom font for thin text*/
@import url('https://fonts.googleapis.com/css?family=Nunito');
/* Set padding to keep content from hitting the edges */
body {
    background-color: #efefef;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    background-image: url('Images/banner.png');
    background-size: cover;
    color: white;
    margin-bottom: 0;    
    font-family: 'Nunito', sans-serif;
}
.lead {
    margin-top: 25px;
}
@media (max-width: 800px) {
    .lead {
        display:none;
    }
    input,
    select,
    textarea {
        max-width: none;
    }
}
.pageInfo {
    background-color: #f8f8f8;
    padding: 20px;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    margin: 0;
}
.body-content {
    padding: 15px
}
.btn-normal, .btn-primary, .btn-default {
    background-color: #9f9f9f;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 0;
    float: right;
}
.btn-normal:hover, .btn-primary:hover, .btn-primary:focus, .btn-default:hover {
    color: white;
    background-color: #6e6c6c;    
}
.tableContainer {
    background-color: #f8f8f8;
    padding: 30px;
}
tbody > tr {
    background-color: #efefef;
    padding-bottom: 2em;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #5c5c5c;
    border-color: #5c5c5c;
}
a {
    color: #5c5c5c;
}
a:hover {
    color: #5c5c5c;
}